<div class="container">
  <h1>BUY AIRTIME</h1>

  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-primary" role="alert">
        <p><strong><a href = "#" >MTN</a></strong></p>    
      </div>
    </div>

    <div class="col-md-3">
      <div class="alert alert-primary" role="alert">
        <p><strong><a href = "#" >9MOBILE</a></strong></p>    
      </div>
    </div>

    <div class="col-md-3">
      <div class="alert alert-primary" role="alert">
        <p><strong><a href = "#" >AIRTEL</a></strong></p>    
      </div>
    </div>

  
    <div class="col-md-3">
      <div class="alert alert-primary" role="alert">
        <p><strong><a href = "#" >GLO</a></strong></p>
      </div>
    </div>
  </div>


</div>






