<div class="container">

<h1>DISPLAY ALL SME DATA OPTIONS:</h1>
<p>
<a href = "#" >MTN</a>
</p>

<p>
<a href = "#" >GLO</a>
</p>

<p>
<a href = "#" >9MOBILE</a>
</p>

<p>
<a href = "#" >AIRTEL</a>
</p>

</div>